/* | Made by Darko Goluža(315227) - Landing Page | */
/* v                                             v */
*{
	box-sizing: border-box;
}

body {
	background: rgb(26, 26, 26);
}

#section1{
	background-image:
    linear-gradient(180deg, rgba(30, 30, 30, 0.9) 0%, #1A1919 100%),
    url('./ArtWork/landing_background.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 100vh;
	width: 100%;

	position: relative;


	padding: 0rem 2rem;
}

.line{
	height: 20px;
	width: 1px;
	margin: 0rem 1.5rem;
	background-color: #FFFFFF;
}

.text-large {
	font-size: 4rem;
  }

.text-paragraph{
	font-size: 1.5rem;
	width: 60%;
	text-align: center;
  }

  .arrow{
	display: block;

	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%);

	width: 58px;
	height: 57px;

	background-image: url("./ArtWork/arrow_orange.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-animation: blinking 1.5s infinite alternate;
	        animation: blinking 1.5s infinite alternate;
}

.landing-hero-h1{
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;
}

.landing-hero-h4{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 37px;
	text-align: center;

	color: #FFFFFF;

	margin-top: 1rem;
}

#section2{
	background-image:
    linear-gradient(0deg, rgba(30, 30, 30, 0.9) 0%, #1A1919 100%),
    url('./ArtWork/landing_background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	width: 100%;
	min-height: 100vh;

	position: relative;

	padding: 0rem 2rem;

	padding-bottom: 2rem;
}

#section2 p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px !important;
	line-height: 132.4%;
	/* or 48px */

	text-align: center;
	letter-spacing: -0.005em;

	color: #FFFFFF;

	width: 1100px;
	margin: auto;

	margin-top: 4rem;

	padding-top: 2rem;
}

#section2 h4{
	font-style: normal;
	font-weight: normal;
	font-size: 26px;
	line-height: 132.4%;
	/* or 48px */

	text-align: center;
	letter-spacing: -0.005em;

	color: #FFFFFF;

	width: 850px;
	margin: auto;

	padding-top: 2rem;
}

.schedule_btn{
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	line-height: 44px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.035em;

	color: #FFFFFF;

	text-decoration: none;

	background: #FF9505;
	padding: 14px 22px;

	border-radius: 100px;

	display: block;
	margin:auto; 
	margin-top: 2rem;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	transition: .3s;
	/* position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translate(-50%); */
}

.top_text{
	background: linear-gradient(to right, #FFFFFF, #45454555);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.course #section1,
.course #section2 {
	height: auto;
}

.main_content {
	width: 90%;
	margin: 2rem auto 0;
}

.main_content .title_sm {
	margin-top: 1em;
	display: block;
}

.main_content p {
	line-height: 2rem;
	display: inline;
	/* margin-top: .5em; */
	margin-left: 1.5em;
}

.main_content ul {
	margin-left: 1.5em;
	padding-left: 1.5em;
}

.main_content li{
	text-align: left;
	line-height: 2rem;
	color: #fff;
}

.line_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

footer{
	width: 100%;
	height: 60px;

	background: #1B1B1B;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0rem 2rem;
}

footer ul{
	display: flex;

	margin: 0px;
	padding: 0px;
}

footer ul li{
	list-style: none;
}

footer ul li a,
footer p{
	text-decoration: none;

	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	/* identical to box height */

	text-align: center;
	letter-spacing: 0.185em;

	margin: 0px;
	padding: 0px;

	color: #FFFFFF;
}

.footer_links li{
	margin-right: 2rem;
}

.footer_links li:first-child{
	margin-right: 3rem;
}

.footer_links li:last-child{
	margin-right: 0rem;
}

.footer_policy li{
	margin-right: 2rem;
}

.footer_policy li:last-child{
	margin-right: 0rem;
}

/* A                                             A */
/* | Made by Darko Goluža(315227) - Landing Page | */
/* | Made by Darko Goluža(315227) - Landing Page | */
/* v                                             v */


table.greyGridTable {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
  }
  table.greyGridTable td, table.greyGridTable th {
	border: 1px solid #05050557;
	padding: 7px 10px;
  }
  table.greyGridTable tbody td {
	font-size: 13px;
  }
  table.greyGridTable td {
	background: #323232;
	font-size: 12px;
	color: white;
  }

  table.greyGridTable thead {
	background: #585858;
	border-bottom: 4px solid #333333;
  }

  table.greyGridTable .week{
	color: #272727;
  }

  table.greyGridTable thead th {
	font-size: 15px;
	font-weight: bold;
	color: #a8b9f7;
	text-align: center;
	border-left: 2px solid #333333;
  }

  table.greyGridTable .sdj{
	  background: #b7c9ff;
	  color: #323232;
	  border: none;
  }

  table.greyGridTable .dma{
	background: #f58b8b;
	color: #323232;
	border: none;
}

table.greyGridTable .sep{
	background: #effaa8;
	color: #323232;
	border: none;
}

table.greyGridTable .rdw{
	background: #8aa7ff;
	color: #323232;
	border: none;
}

table.greyGridTable .ws{
	background: #f148c4;
	color: #323232;
	border: none;
}


  table.greyGridTable thead th:first-child {
	border-left: none;
  }
  
  table.greyGridTable tfoot td {
	font-size: 14px;
  }

  .landing_hero h1{
	font-style: normal;
	font-weight: 800;
	font-size: 72px;
	line-height: 117px;
	/* identical to box height */

	text-align: center;

	color: #FFFFFF;

	margin-top: 5rem;
}

.landing_hero h4{
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 37px;
	text-align: center;
	
	margin: auto;

	color: #FFFFFF;

	margin-top: 1rem;
}

.landing_hero h5{
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 37px;
	text-align: center;

	width: 900px;
	margin: auto;

	color: #FFFFFF;

	margin-top: 1rem;
}

.paddingBottom{
	padding-bottom: 4rem !important;
}@-webkit-keyframes blinking {
	from {
		transform: translate(-50%, 0px);
		opacity: 100%;
	}

	to {
		transform: translate(-50%, 15px);
		opacity: 75%;
	}

}


@keyframes blinking {
	from {
		transform: translate(-50%, 0px);
		opacity: 100%;
	}

	to {
		transform: translate(-50%, 15px);
		opacity: 75%;
	}

}

@media only screen and (max-width: 1200px) {
	.via_logo {
	  width: 300px;
	}

	.landing-hero-h1{
		font-size: 42px;
	  }

	  .landing-hero-h4{
		font-size: 20px;
	}

	#section2 h4{
		width: 550px;
		font-size: 21px;
	}

	#section2 p{
		width: 850px;
	}
	footer ul li a,
footer p{
	font-size: 16px;
}

	table.greyGridTable tbody td {
	font-size: 10px;
  }
  table.greyGridTable td {
	font-size: 8px;
  }

  table.greyGridTable thead th {
	font-size: 12px;
  }

	.main_content {
		font-size: .9rem;
	}

  }

  @media only screen and (max-width: 1000px) {
	.via_logo {
	  width: 225px;
	}

	.line{
		display: none !important;
	}

	.landing-hero-h1{
		font-size: 32px;
	  }

	  .landing-hero-h4{
		font-size: 16px;
		line-height: 25px;
		text-align: left;
	}

	#section2 p{
		width: 550px;
	}

	footer ul li a,
	footer p{
		font-size: 14px;
	}
	.footer_links li:first-child{
		margin-right: 2rem;
	}
	
	.footer_links li:last-child{
		margin-right: 0rem;
	}

	.main_content {
		font-size: .75rem;
	}

  }

@media only screen and (max-width: 900px) {
	.via_logo {
	  width: 200px;
	}
	 
	#section2 h4 {
		width: 400px;
		font-size: 14px;
	}

	#section2 p{
		width: 300px;
		font-size: 12px !important;
		text-align: left;
	}

	.schedule_btn {
		font-size: 1.1rem;
	}

	footer{
		flex-direction: column;
		height: 100px;
		justify-content: space-evenly	;
	}

	footer ul li a,
	footer p{
		font-size: 12px;
	}

	.footer_links li{
		margin-right: 1rem;
	}

	.footer_links li:first-child{
		margin-right: 1rem;
	}
	
	.footer_links li:last-child{
		margin-right: 0rem;
	}

	table.greyGridTable tbody td {
		font-size: 9px;
	  }
	  table.greyGridTable td {
		font-size: 7px;
	  }
	
	  table.greyGridTable thead th {
		font-size: 10px;
	  }
  }
/* A                                             A */
/* | Made by Darko Goluža(315227) - Landing Page | */